:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

// Специфичные стили для editable-game-board
.questions-grid {
  gap: 5px;
}

.questions-row {
  gap: 5px;
  margin-bottom: 5px;
}

.points-cell {
  background-color: var(--primary-color);
  border-radius: 8px;
  font-weight: 600;
  padding: 5px;
}

.question-preview,
.answer-preview {
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
