:host {
  display: block;
  height: 100%;
  padding-bottom: 115px;
  background: rgb(30 58 138 / var(--tw-bg-opacity, 1));



  .answer {
    width: 100%;
    border-top: 3px dotted white;
    margin-top: 10px;
    padding-top: 10px;
  }
}


