:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

// Дополнительные стили, специфичные для game-board
.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  flex: 1;
} 